body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #292929;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-item {
    margin: 10px;
}

button {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button i {
    margin-right: 5px;
}
